<div class="bjui-pageHeader">

<form id="pagerForm" data-toggle="ajaxsearch" action="__SELF__" method="get">
    <input type="hidden" name="pageSize" value="{$numPerPage}">             
    <input type="hidden" name="pageCurrent" value="{$pageCurrent}">       
    <input type="hidden" name="orderField" value="{$_REQUEST['orderField']}">         
    <input type="hidden" name="orderDirection" value="{$_REQUEST['orderDirection']}"> 

        <div class="bjui-searchBar">
           <label for='f'>筛选：</label>
           <select id='f' name='f'  data-toggle="selectpicker">
               <option value='ptp_part' <eq name='Think.request.f' value='ptp_part'>selected</eq>>物料号</option>
               <option value='ptp_buyer' <eq name='Think.request.f' value='ptp_buyer'>selected</eq>>计划员</option>
               <option value='ptp_site' <eq name='Think.request.f' value='ptp_site'>selected</eq>>地点</option>
               <option value='drps_line' <eq name='Think.request.f' value='drps_line'>selected</eq>>产线</option>
               <!-- <option value='ptp_line' <eq name='Think.request.f' value='ptp_line'>selected</eq>>配置</option> -->
               <option value='ptp_promo' <eq name='Think.request.f' value='ptp_line'>selected</eq>>推销组</option>
               <option value='ptp_desc1' <eq name='Think.request.f' value='ptp_desc1'>selected</eq>>描述1</option>
           </select>
           <input type="text" value="{$_REQUEST['v']}" id='v' name="v" class="form-control" size="15" />
           
             <button type="submit"  class="btn-default"  onclick='clearPageNum(this)' data-icon="search">查询</button>
<!--              <button type="button"  class="btn-default" onclick='clearPageNum(this)' data-icon="search">查询</button> -->
              <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a> 
     
              
              <!-- <div style="display:inline-block; vertical-align:middle;">
                        <div id="doc_pic_up" data-toggle="upload" data-uploader="__CONTROLLER__/importRps" 
                            data-file-size-limit="1024000000"
                            data-file-type-exts="*.xls;*.xlsx"
                            data-multi="false"
                            data-auto="true"
                            data-on-upload-success="rps_upload_success"
                            data-icon="cloud-upload"></div>
                        <input type="hidden" name="doc.pic" value="" id="doc_pic">
                    </div>
                    <span id="doc_span_pic"></span>
                
            </form>    -->
              

			<if condition="authcheck(MODULE_NAME . '/' . CONTROLLER_NAME . '/saveRps', session('uid'))"> 
 
			<span style="float:right;margin-right:20px;"><a href="__CONTROLLER__/showRpsUpload" class="btn btn-blue" data-toggle="dialog" data-id="showuploadrps" data-title="导入生产计划"  data-icon="arrow-down">导入</a></span>
			<span style="float:right;margin-right:20px;"><a href="__CONTROLLER__/exportRpsCsv" class="btn btn-blue" data-toggle="doexport"  data-icon="arrow-up">导出</a></span>
			<span style="float:right;margin-right:20px;"><button type="button" id='savePlans' class="btn-default" onclick='saveRps(this)' data-icon="save" disabled>保存</button></span>
			<span style="float:right;margin-right:20px;"><button type="button" class="btn btn-red row-del" data-icon="undo"  onclick="resetOrderAmount(this)">重置</button></span>
			<span style="float:right;margin-right:20px;"><a type="button" class="btn btn-red row-del" href="__CONTROLLER__/deleteRps" data-toggle="doajaxchecked" data-idname="ptp_id" data-group="sel_pan" data-confirm-msg="确定要删除选中项吗？">删除</a></span>
			<!--<span style="float:right;margin-right:20px;"><button type="button" class="btn-green" data-toggle="tableditadd" data-target="#tabledit1" data-num="1" data-icon="plus">新增</button></span>  -->
			</if>
			
			<if condition="authcheck(MODULE_NAME . '/prodecomp/' . ACTION_NAME, session('uid'))">   
			<span style="float:right;margin-right:20px;"><a type="button" class="btn btn-red row-del" id='decompose'  onclick="openDecompTab(this)">物料分解</a></span>
			</if>
		</div> 
</form>
</div>



<div class="bjui-pageContent">
<form action="__CONTROLLER__/saveRps" id="rpsForm" class="pageForm" data-toggle="validate" data-callback='afterRpsSaving'  method="post"> 
	    <table id="tabledit1" style="white-space: nowrap;"  data-toggle="tabledit"  data-layout-h="0" data-nowrap="true"    class="table table-bordered table-hover table-striped table-top" >
        <thead>

            
            <tr>
            <th width="10" height="30"></th>
            <th title="删除?">删除?</th>
            <th title="计划员"  data-order-field='ptp_buyer'>计划员</th>
			<th title="地点" data-order-field='ptp_site'>地点</th>
			<th title="产线" data-order-field='drps_line'>产线</th>
			<!--<th title="配置" >配置</th>  -->
			<th title="推销组" data-order-field='ptp_promo'>推销员</th>
			<th title="物料号" data-order-field='ptp_part'>物料号</th>
			<th title="物料描述" data-order-field='ptp_desc1'>物料描述</th>
			<th title="是否修改" >是否修改</th>
			<th title="调整时间"    data-order-field='ptp_mtime'>调整时间</th>
			<volist id="dateTh" name="datesTh">
			<th title="{$dateTh|substr=5}" ><input type="text"></th>
			</volist>
			<volist id="weekTh" name="weeksTh">
			<th title="{$weekTh}"  ><input type="text"></th>
			</volist>
			<volist id="monthTh" name="monthsTh">
			<th title="{$monthTh}"  ><input type="text"></th>
			</volist>
			<!--<th title="" data-addtool="true" width="100">
            	<a href="__CONTROLLER__/deletePtps/ptp_id/" class="btn btn-red row-del" data-confirm-msg="确定要删除该行信息吗？">删</a>
            </th>
			<!--
			<th>详细</th>
		    <th <php>echo display(CONTROLLER_NAME.'/edit');</php> >编辑</th>
		    -->
            </tr>
            
            
            

            
        </thead>
        <tbody>	  
          <volist id="part" name="parts">
          <tr>
		   	<td></td>
          	<td style="text-align: center;">
	          	<input type='checkbox' name='sel_pan' value='{$part.id}' />
          	</td>	
		 	<td>{$part.ptp_buyer}</td>
		 	<td>{$part.ptp_site}</td>
			<td>{$part.drps_line}</td>
			<!--<td>{$part.ptp_peizhi}</td>  -->
			<td>{$part.ptp_promo}</td>
			<td>{$part.ptp_part}</td>
			<td>{$part.ptp_desc1}</td>
			<td><if condition="($part.ptp_mtime gt $startDate) AND $part.ptp_ismrp">是<else />否</if></td>
			<td><if condition="($part.ptp_mtime gt $startDate) AND $part.ptp_ismrp">{$part.ptp_mtime}</if></td>

 
			
			<volist id="drp" name="part.drps">
			<td id="drp#{$drp.drps_id}#{$drp.drps_date}#{$part.ptp_part}#{$part.ptp_site}#{$part.id}" org-qty="{$drp.drps_qty}" <eq name='drp.drps_ismrp' value='1'>class='drpIsMrp'</eq> >{$drp.drps_qty}</td>
			</volist>
			<volist id="wrp" name="part.wrps">
			<td  id="wrp#{$wrp.wrps_id}#{$wrp.wrps_week}#{$part.ptp_part}#{$part.ptp_site}#{$part.id}" org-qty="{$wrp.wrps_qty}" <eq name='drp.wrps_ismrp' value='1'>class='drpIsMrp'</eq> >{$wrp.wrps_qty}</td>
			</volist>
			<volist id="mrp" name="part.mrps">
			<td id="mrp#{$mrp.mrps_id}#{$mrp.mrps_month}#{$part.ptp_part}#{$part.ptp_site}#{$part.id}" org-qty="{$mrp.mrps_qty}" <eq name='drp.wrps_ismrp' value='1'>class='drpIsMrp'</eq> >{$mrp.mrps_qty}</td>
			</volist>
            <!--<td data-noedit="true">
            	<button type="button" class="btn-green" data-toggle="doedit">编辑</button>  
            </td>-->
			<!--
		   	<td><a href="__CONTROLLER__/view/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"  data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" >详细</a></td>
		   	<td <php>echo display(CONTROLLER_NAME.'/edit');</php> > <a href="__CONTROLLER__/edit/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" >编辑</a></td>
		   	</td>
		    -->
         </tr> 
          </volist>
       </tbody>
       <present name='datesSum'>
       <tfoot>
         <tr>
         	<td></td>
         	<td colspan='9' style="font-weight: bold; text-align: center">总计</td>
			<volist id="dateSum" name="datesSum">
			<td>{$dateSum}</td>
			</volist>
			<volist id="weekSum" name="weeksSum">
			<td>{$weekSum}</td>
			</volist>
			<volist id="monthSum" name="monthsSum">
			<td>{$monthSum}</td>
			</volist>

         </tr>
       </tfoot>
       </present>
    </table>
	

    <div class="bjui-footBar">
        <div class="pages">
            <span>共 {$totalCount} 条  每页 {$numPerPage} 条</span>
        </div>
        
	    <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$numPerPage}" data-page-current="{$pageCurrent}">
        </div>
    </div>
    
</form>   
</div>
<style>
#rpsForm input.fchanged {
	color:red;
}

.drpIsMrp input.form-control{
	color: blue;
	font-weight:  bold;
}
</style>
<script type='text/javascript'>
$(document).ready(function() {
	// ensure all the event handlers would just be bound once due to th B-jui's duplicate html snippet reloading feature.	
	if ($(document).data("planLoaded")) {
		return;
	}
	$(document).data("planLoaded", true);
	
	

	

	
	// change the name attr of the input  field in the clicked tr
	$(document).on("dblclick", "tbody tr", function() {
		$("td input:text", this).each(function() {
			$(this).attr("name", $(this).closest("td").attr("id"));
			$(this).prop("disabled", false);
		});
		
		
		// make all other tr readonly
		var tbl = $(this).closest("table");
		$("tbody tr", tbl).addClass("readonly");
		$(this).removeClass("readonly");
	});
	
	$(document).on("click", function() {
		$("tbody tr").each(function() {
			if ($("input:text:focus", this).length == 0) {
				$(this).addClass("readonly");
			}
		});
	})
	
	
	// check and add flags for changed fields
	$(document).on("change", "#rpsForm input:text", function() {
		var qty = Number($.trim($(this).val()));
		var isInvalid = true;
		if (isNaN(qty)) {
			alert("错误：输入的产量必须为数字");
		} else if (qty < 0) {
			alert("错误：输入的产量不能为负值");
		} else {
			isInvalid = false;
		}
		
		if (isInvalid) {
			qty = $(this).closest("td").attr("org-qty")
		} else {
			// 将保存按钮变为可用
			var saveBtn = $(this).closest(".bjui-pageContent").siblings(".bjui-pageHeader").find("#savePlans");
			saveBtn.prop("disabled", false);
		}
		$(this).val(qty);
		
		if (qty != $(this).closest("td").attr("org-qty")) {
			$(this).addClass("fchanged");
		} else {
			$(this).removeClass("fchanged");
		}

	});
	
	
	
});


function saveRps (obj) 
{
	var rpsForm = $(obj).closest(".bjui-pageHeader").siblings(".bjui-pageContent").find("#rpsForm");
	// fix b-jui odd bug
	if (!rpsForm.data("submitted")) {
		rpsForm.data("submitted", true);
		// just update the changed fields
		$("input:text", rpsForm).each(function() {
			if (!$(this).hasClass('fchanged')) {
				$(this).prop("disabled", true);
			} else {
				var orgVal = $(this).closest("td").attr("org-qty");
				$(this).val($(this).val() + '-' + orgVal);
			}
		});
		rpsForm.submit();
		
		$("input:text", rpsForm).each(function() {
			$(this).val($(this).closest("td").attr("org-qty"));
		});
	}
}



function openDecompTab (obj) 
{
		var ids = [];
		$.CurrentNavtab.find("input:checkbox[name=sel_pan]:checked").each(function() {
			ids.push($(this).val());
		});

		var url = '__MODULE__/prodecomp/index';
		var ptpCondQs = [];
		if (ids.length != 0) {
			ptpCondQs.push("par_id=" + ids.join("_"));  
		}
		
		var of = $.CurrentNavtab.find("#f");
		var ov = $.CurrentNavtab.find("#v");
		if (of.val() && ov.val() != '') {
			var f = of.val().replace("ptp_", 'par_');
			ptpCondQs.push('par_f=' + f + '&par_v=' + ov.val());
		}
		if (ptpCondQs.length) {
			url += '?' + ptpCondQs.join("&");
		}
		
		
		// what a stupid compromise for stupid bjui....
		var tmpobj = $("<div></div>");
		$(tmpobj).navtab({
			'id':'prodecomp/index', 
			'url': url,  //必须使用可变的url而不能使用可变的data，否则BJUI有bug不会修改查询字符串
			//'data': "ptp_id=" + ids.join("_"),
			'fresh': true,
			'title': '物料分解',
			'onLoad': function () {
				//alert('done');
			}
		});


}
	
function rps_upload_success(file, data, $element)  {
		alert(data);


}


function clearPageNum (obj)
{
	var pagerForm = $(obj).closest("#pagerForm");
	pagerForm.find("input:hidden[name=pageCurrent]").val(1);
 
	//pagerForm.submit();
 
}

function afterRpsSaving (json) {
	var url = $.CurrentNavtab.find("#pagerForm").attr("action");
	// open a msg dialog manually
	//alert(url);
	
	alert(json.message);
	if (json.statusCode == 200) {
		var tmpobj = $("<div></div>");
		$(tmpobj).navtab({
			'id':'proplan/index', 
			'url': url,  //必须使用可变的url而不能使用可变的data，否则BJUI有bug不会修改查询字符串
			//'data': "ptp_id=" + ids.join("_"),
			'fresh': true,
			'title': '生产计划',
			'onLoad': function () {
				//alert('done');
			}
		});
	}

}

function resetOrderAmount(obj) {
	var tmpobj = $("<div></div>");
	$(tmpobj).navtab({
		'id':'proplan/index', 
		'url': $.CurrentNavtab.find("#pagerForm").attr("action"),
		'title': '生产计划',
		'fresh': true
	});
}
	
// function rps_upload_success(file, data) {
//     var json = $.parseJSON(data)
//     alert("生产文件上传并解析成功");
    
//     $(this).bjuiajax('ajaxDone', json)
//     if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
//         $('#doc_pic').val(json.filename)
//         $('#doc_span_pic').html('已上传图片：<img src="'+ json.filename +'" width="100">')
//     }
// }	



</script>