
<div class="bjui-pageHeader">


    
</div>

<div class="bjui-pageContent" style="margin-top: 20px;">
<span style="float:left;margin-left:50px;"><a href="__CONTROLLER__/exportProdSchdCim/site/{$_REQUEST['site']}" class="btn btn-blue" data-toggle="doexport"  data-icon="arrow-up">生产日程同步文件</a></span>
<span style="float:left;margin-left:20px;"><a href="__MODULE__/proplan/exportRpsCsv/site/{$_REQUEST['site']}" class="btn btn-blue" data-toggle="doexport"  data-icon="arrow-up">生产计划表</a></span>
<div style="clear: both; height: 1em"></div>
<span style="float:left; margin-left:50px;"><a href="__CONTROLLER__/exportVendsSchdCim/site/{$_REQUEST['site']}" class="btn btn-blue" data-toggle="doexport"  data-icon="arrow-up">已确认采购日程同步文件</a></span>
<span style="float:left;margin-left:20px;"><a href="__MODULE__/ProDayMrp/exportBalanceExcel/site/{$_REQUEST['site']}" class="btn btn-blue" data-toggle="doexport"   data-icon="arrow-up" title="导出平衡表excel文件">采购日程平衡表</a></span>  
 </div>
 
 
 <script type="text/javascript">
 

</script>